.ant-modal-confirm-body .anticon {
  display: none;
}

.ant-modal-confirm-body
  > .anticon
  + .ant-modal-confirm-title
  + .ant-modal-confirm-content {
  margin-left: unset;
}

.text-center {
  text-align: center;
}

.ant-table-content {
  overflow: scroll;
  height: 538px;
}
